In [8]:
#[국어,영어,한국사,선택 교과1, 선택 교과2]
scores = [88,73,89,59,77]

print(scores[0] >= 60 and scores[1] >= 60 and scores[2] >= 60 and scores[3] >= 60 and scores[4] >= 60)

False

In [1]:
numbers = [1,2,3,4,5,6,7,8]

In [2]:
numbers.append(8)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 8]

### insert는 요소를 원하는 인덱스 위치에 넣을 수 있다.
insert(인덱스,요소)

In [3]:
numbers.insert(0,0)
numbers.insert(4,0)
numbers.insert(6,0)
numbers.insert(len(numbers),0)

In [4]:
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 8, 0]

### extend는 리스트에 리스트를 뒤로 붙인다.
리스트1.extend(리스트2)

In [5]:
numbers.extend([9,10,11])
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 8, 0, 9, 10, 11]

### remove(요소) 리스트에서 요소와 같은 걸 삭제한다

In [6]:
numbers.remove(0)
print(numbers)

[1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 8, 0, 9, 10, 11]

In [7]:
del numbers[0]

In [8]:
print(numbers)

[2, 3, 0, 4, 0, 5, 6, 7, 8, 8, 0, 9, 10, 11]

### pop() --> 제일 뒤에 오는 요소를 반환한다. 그리고 리스트에서 삭제한다.

In [9]:
print(numbers.pop())

11

In [10]:
print(numbers)

[2, 3, 0, 4, 0, 5, 6, 7, 8, 8, 0, 9, 10]

### index(인자) 리스트 안에 인자과 같은 요소를 앞에서 부터 찾습니다. 제일 처음 발견된 요소의 인덱스 위치를 반환합니다.

In [11]:
print(numbers.index(4))

3

### count(인자) 리스트 안에서 인자와 같은 요소가 몇개가 있는지 반환한다.

In [12]:
print(numbers)
print(numbers.count(0))

[2, 3, 0, 4, 0, 5, 6, 7, 8, 8, 0, 9, 10]
3

### 리스트 정렬하기
- sort() 리스트 요소를 오름차순으로 정렬
- reverse()는 순서를 역순(반대로)
  반환 값을 둘 다 None

In [13]:
print(numbers)

[2, 3, 0, 4, 0, 5, 6, 7, 8, 8, 0, 9, 10]

In [14]:
print(numbers.sort())

None

In [15]:
print(numbers)

[0, 0, 0, 2, 3, 4, 5, 6, 7, 8, 8, 9, 10]

In [16]:
print(numbers.reverse())

None

In [17]:
print(numbers)

[10, 9, 8, 8, 7, 6, 5, 4, 3, 2, 0, 0, 0]

### Stack은 후입선출(Last In First Out) 구조
- stack에서 자료를 꺼낼 때 pop()으로만 꺼내어 Stack 자료 구조처럼 활용 가능

In [18]:
stack = [3,4,5]
stack.append(6)
stack.append(7)
print(stack)

print(stack.pop())

print(stack)

print(stack.pop())

print(stack.pop())

print(stack)

[3, 4, 5, 6, 7]
7
[3, 4, 5, 6]
6
5
[3, 4]

### 튜플(tuple)
- 튜플은 리스트와 거의 비슷하지만, 수정이 불가
- 튜플은 불변(immutable)의 특징을 갖음
- 튜플은 소괄호 사이에 요소들을 콤마로 구분지어 작성
- 소괄호는 생략 가능
튜플변수명 = (항목1,항목2,항목2)

In [19]:
tuple_variable = (1,2,3,4,5,"hello")
tuple_variable[0] = 0

TypeError: 'tuple' object does not support item assignment

In [20]:
tuple_variable[1:3] = ("음","오")

TypeError: 'tuple' object does not support item assignment

### 튜플에서는 요소에 대한 삭제도 불가하다.

In [21]:
del tuple_variable[0]

TypeError: 'tuple' object doesn't support item deletion

In [23]:
t_v2 = '음','오','아','예'
print(type(t_v2))
print(t_v2)

<class 'tuple'>
('음', '오', '아', '예')

### 튜플
- 리스트가 더 봄용적인데 튜플은 왜 쓸까?
- 리스트는 크기가 바뀔 수 있기 때문에 그에 따른 초과 할당까지 고려해서 메모리에 데이터를 저장할 수 있을지 신경 써야한다.
- 튜플은 빠르게 생성할 수 있고 리스트보다 메모리 부담이 적은 대신 그 내용을 변경 할 수 없다.

In [24]:
import time

curr = time.time()
total = []

for i in range(1000) :
    for j in range(1000) :
        total.append((i,j))

last = time.time()
print(last - curr)

0.23100876808166504

In [25]:
import time

curr = time.time()
total = []

for i in range(1000) :
    for j in range(1000) :
        total.append([i,j])

last = time.time()
print(last - curr)

0.5250256061553955

##### **연습 문제**
1. 처음 20번째까지 소수(Prime number) : 튜플  이유 : 1~20번째까지의 소수이기 때문에 정해져 있는 숫자여서 나중에 변동이 없을거 같아서.
2. 프로그래밍 언어의 종류 : 튜플  이유 : 프로그래밍 언어도 정해져 있는 언어이기 때문에 변동이 있으면 안될거 같아서.
3. 사람의 나이, 몸무게, 키 : 리스트  이유 : 사람의 나이,몸무게,키는 매번 변동이 있기 때문에
4. 사람의 생일과 출생지 : 튜플 : 사람의 생일과 출생지는 변함이 없기 때문에
5. 롤 게임의 결과 : 튜플 : 이미 정해진 결과는 변동이 없기 때문에
6. 잇단 롤 게임의 결과 : 튜플 이유 : 이미 정해진 결과는 변동이 없기 떄문에

In [26]:
s1,s2 = 'text1','text2'
print(s1)
print(s2)

text1
text2

In [28]:
s3,s4,s5 = ['이렇게','리스트도','가능합니다.']
print(s3,s4,s5)

이렇게 리스트도 가능합니다.

In [30]:
s6,s7,s8,s9 = "문자열도"
print(s6,s7,s8,s9)
print(s6)

문 자 열 도
문

##### input() 내장 함수를 사용해서 사용자로부터 값을 받아올 수 있습니다
- 이때 받아온 값은 문자열로 받습니다.
- input("메시지")->return 사용자가 입력한 값(str)

In [32]:
input_value = input("Message")

Message 12345

In [33]:
print("input_value:",input_value, "\ntype:",type(input_value))

input_value: 12345
type: <class 'str'>

In [34]:
print(input_value)

12345

In [35]:
input_value2 = input("정수 외에 다른 값을 입력해 보세요.")

정수 외에 다른 값을 입력해 보세요. 1.1

In [36]:
input_value2 = int(input_value2)

ValueError: invalid literal for int() with base 10: '1.1'

In [39]:
input_value2 = float(input_value2)
print(input_value2)

1.1

In [40]:
input_value2 = int(input_value2)
print(input_value2)

1

In [45]:
input_value4 = int(input("정수를 입력해주세요:"))

정수를 입력해주세요: 5

In [46]:
print(input_value4)

5

In [47]:
input_value5 = input("이름을 입력하시오:")
print(input_value5,"씨, 안녕하세요?")

이름을 입력하시오: 서영호

서영호 씨, 안녕하세요?

In [49]:
input_value5 = input("이름을 입력하시오:")
print(input_value5,"씨, 안녕하세요?")
print("파이썬에 오신 것을 환영합니다.")
input_value6 = int(input("첫 번째 정수를 입력하세요:"))
input_value7 = int(input("두 번째 정수를 입력하세요:"))
print(input_value6,"과",input_value7,"의 합은",input_value6+input_value7,"입니다.")

이름을 입력하시오: 라이언

라이언 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요: 200
두 번째 정수를 입력하세요: 300

200 과 300 의 합은 500 입니다.

In [51]:
input_value5 = input("이름을 입력하시오:")
print(input_value5,"씨, 안녕하세요?")
print("파이썬에 오신 것을 환영합니다.")
input_value6 = input("첫 번째 정수를 입력하세요:")
input_value7 = input("두 번째 정수를 입력하세요:")
print(input_value6,"과",input_value7,"의 합은",int(input_value6)+int(input_value7),"입니다.")

이름을 입력하시오: 춘식이

춘식이 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요: 300
두 번째 정수를 입력하세요: 200

300 과 200 의 합은 500 입니다.

In [59]:
value8 = input("경기장은 어디입니까?")
value9 = input("이긴 팀은 어디입니까?")
value10 = input("진팀은 어디입니가?")
value11 = input("우수 선수는 누구입니까?")
value12 = input("스코어는 몇대몇입니까?")

print("[속보]",value9,"가",value12,"로 승리...","\n오늘",value8,"경기장에서 야구 경기가 있었습니다.",value9,"와",value10,
      "는 치열한 공반전을 펼쳤습니다.\n 이 경기에서",value11,"가 맹활약을 했습니다.\n","그 끝내",value9,"가",value10,"를",value12,"로 승리하였습니다.\n",
      "기사 끝.")

경기장은 어디입니까? 고척
이긴 팀은 어디입니까? sk
진팀은 어디입니가? kt
우수 선수는 누구입니까? 라이언
스코어는 몇대몇입니까? 10:5

[속보] sk 가 10:5 로 승리...
오늘 고척 경기장에서 야구 경기가 있었습니다. sk 와 kt 는 치열한 공반전을 펼쳤습니다.
 이 경기에서 라이언 가 맹활약을 했습니다.
 그 끝내 sk 가 kt 를 10:5 로 승리하였습니다.
 기사 끝.

##### 입력 값을 여러 개의 변수에 저장
- split()함수
- split()함수는 인자로 전달된 구분자를 활용하여 문자여을 쪼갬
- 그 결과를 list자료형을 반환

In [64]:
result = "1,2,3".split(",")
print(type(result))
print(result)

<class 'list'>
['1', '2', '3']

In [71]:
time = input("hh:mm:ss 의 형태로 시간을 입력해주세요")
result1 = time.split(":")
print("실행 결과:")
print("시 :",result1[0])
print("분 :",result1[1])
print("시 :",result1[2])

hh:mm:ss 의 형태로 시간을 입력해주세요 12:33:23

실행 결과:
시 : 12
분 : 33
시 : 23

In [72]:
h,m,s = input("hh:mm:ss 의 형태로 시간을 입력해주세요").split(":")

print("실행 결과:")
print("시 :",h)
print("분 :",m)
print("시 :",s)

hh:mm:ss 의 형태로 시간을 입력해주세요 12:33:23

실행 결과:
시 : 12
분 : 33
시 : 23

##### map() 내장 함수
- iterable 객체에서 요소를 하나하나 꺼내어 특정 함수를 각각 적용하고 싶을 때
- 반환은 map 클래스를 반환하는데 이는 iterable한 객체
- list()함수 또는 tuple() 함수를 활용하여 map 클래스를 list 혹은 tuple로 변경 가능

map(function,iterable) -> <class 'map'>(iterable)

In [96]:
a = [1.2,2.5,3.7,4.6]
a1 = list(map(float,a))

print(a)
print(a1)

[1.2, 2.5, 3.7, 4.6]
[1.2, 2.5, 3.7, 4.6]

In [95]:
a = input("국어,영어,수학,과학,점수를 입력해주세요").split(",")
kor,eng,mat,sci = list(map(int,a))

print("실행 결과:")
print("평균 점수는",(kor+eng+mat+sci)/4,"점입니다.")

국어,영어,수학,과학,점수를 입력해주세요 98,100,96,100

실행 결과:
평균 점수는 98.5 점입니다.

In [97]:
kor,eng,mat,sci = map(int,input("국어,영어,수학,과학,점수를 입력해주세요").split(","))
avg = (kor+eng+mat+sci)/4
print("평균 점수는",avg,"점입니다.")

국어,영어,수학,과학,점수를 입력해주세요 98,100,96,100

평균 점수는 98.5 점입니다.

##### print()함수를 여러 인자 값으로 사용한다면, 값과 값을 구분하는 기본 문자는 공백으로 되어있는걸 확인
- **맨 마지막에** 'sep=구분 기호'를 작성하여 이를 공백이 아닌 다른 문자로 변경 가능합니다.

In [98]:
print("value",1,1.1,[1,2,"text"],sep=",")

value,1,1.1,[1, 2, 'text']

In [99]:
print("value",1,1.1,[1,2,"text"])

value 1 1.1 [1, 2, 'text']

In [104]:
print("줄이 바뀌지 않습니다.",end="")
print("그 이유는 end=\"\\n\"과 같이 기본 설정된 값을 빈 스트링으로 변경했기 때문입니다.")
print("sep","end는 맨 뒤에 서야하며 둘 간 순서는 상관없습니다.",sep=",",end="")
print("어떻게 사용하는지","이해가 되시나요",sep="\n",end="?")

줄이 바뀌지 않습니다.그 이유는 end="\n"과 같이 기본 설정된 값을 빈 스트링으로 변경했기 때문입니다.
sep,end는 맨 뒤에 서야하며 둘 간 순서는 상관없습니다.어떻게 사용하는지
이해가 되시나요?

In [112]:
year = '2021'
month = '02'
day = '03'
hour = '18'
minute = '33'
second = '23'

print(year,month,day,sep="/",end=" ")
print(hour,minute,second,sep=":",end="")

2021/02/03 18:33:23

In [118]:
apple,orange = map(int,input("사과와 귤을 몇개 드릴까요?").split(","))
price = (apple*1000) + (orange*200)

print("실행 결과:")
print("총 가격은",price,end="")
print("원입니다.")

사과와 귤을 몇개 드릴까요? 10,20

실행 결과:
총 가격은 14000원입니다.

#### if문과 elif문
만약 이 조건에 True면 아래 들여쓰기한 부분 실행 :
    들여쓰기(4칸)
    들여쓰기(4칸)
위 조건이 아니고 만약 이 조건이 True면 아래 들여쓰기한 부분을 실행:
    들여쓰기(4칸)

##### 객체 타입을 비교할 땐 is 키워드
아래와 같이 작성
좌 is 우
좌,우 객체를 비교하여 동일한 종류의 객체라면 True / 다른 종류의 객체라면 False를 반환

In [119]:
type(input_value4) is int

True

In [120]:
if type(input_value4) is int :
    print("input_value4는 정수입니다.")

input_value4는 정수입니다.

### if문에 True와 False를 복합적으로 다를 떄는 논리 연산자!
논리 연사자를 사용하자!
- and : 좌, 우 모두 True일 때 True를 반환합니다.
        반대로 하나라도 False이면 False를 반환합니다.

In [122]:
age = 29

if 20 <= age < 30:
    print("20대 입니다.")
elif 30 <= age < 40:
    print("30대 입니다.")
    
print("감사합니다.")

20대 입니다.
감사합니다.

In [229]:
ID = input("아이디를 입력하세요:")


if ID == "admin":
    print("최고 관리자, 모든 권한을 갖습니다.")
else :
    grade = int(input("회원 등급을 입력해주세요:"))
    
    if  1 <= grade <= 3:
        print("제한적인 권한을 갖습니다.")
    else :
        print("권한이 없습니다.")

아이디를 입력하세요: qwe1232
회원 등급을 입력해주세요: 2

제한적인 권한을 갖습니다.