In [ ]:
score = list(map(int,input("실기점수를 입력하세요:").split(" ")))

result = 0

large= score[0]

small = score[0]

for _ in range(len(score)):
    result+=score[_]
print(result)

for ma in range(len(score)):
    if large < score[ma]:
        large=score[ma]
print(large)

for mi in range(len(score)):
    if small > score[mi]:
        small=score[mi]
print(small)

print(result-large-small)

final_result=(result - large - small) / (len(score)-2)

print(f'이 학생의 평균 점수는 {final_result} 입니다.')

실기점수를 입력하세요: 70 50 85 98 82

이 학생의 평균 점수는 79.0 입니다.

In [58]:
# 5명의 심사관 점수 입력하여 int list 만들기

scores=list(map(int,input("실기점수를 입력하세요:").split()))

#총점 구하기
total = 0 #총점 초기화
for i in scores:
    total+=i

#최고 점수 구하기
largest = 0
for i in scores:
    if i > largest:
        largest = i
print(largest)

#최저 점수 구하기
smallest = 100 #최소값 초기화
for i in scores:
    if i < smallest :
        smallest = i
print(smallest)

avr = (total - largest - smallest) / (len(scores) -2)
print("이 학생의 평균 점수는",avr,"입니다.")

실기점수를 입력하세요: 70 50 85 98 82

98
50
이 학생의 평균 점수는 79.0 입니다.

In [74]:
score=[86,72,98,60,45]

grade_counter = [0,0,0,0,0]

for i in score:
    if 85 <= i <100:
        grade_counter[0] +=1 #A학점
    elif 70 <= i <85:
        grade_counter[1] +=1 #B학점
    elif 55 <= i < 70:
        grade_counter[2] +=1 #C학점
    elif 40 <= i < 55:
        grade_counter[3] +=1 #D학점
    else:
        grade_counter[4] +=1
print(grade_counter)

[2, 1, 1, 1, 0]

In [97]:
for i in range(1,101):
    if i % 3 ==0 and i % 5 ==0:
        print("FizzBuzz")
    elif i % 3 ==0 or i % 5 ==0:
        print("Fizz")
    else:
        print(i,end='\t')

1	2	Fizz
4	Fizz
Fizz
7	8	Fizz
Fizz
11	Fizz
13	14	FizzBuzz
16	17	Fizz
19	Fizz
Fizz
22	23	Fizz
Fizz
26	Fizz
28	29	FizzBuzz
31	32	Fizz
34	Fizz
Fizz
37	38	Fizz
Fizz
41	Fizz
43	44	FizzBuzz
46	47	Fizz
49	Fizz
Fizz
52	53	Fizz
Fizz
56	Fizz
58	59	FizzBuzz
61	62	Fizz
64	Fizz
Fizz
67	68	Fizz
Fizz
71	Fizz
73	74	FizzBuzz
76	77	Fizz
79	Fizz
Fizz
82	83	Fizz
Fizz
86	Fizz
88	89	FizzBuzz
91	92	Fizz
94	Fizz
Fizz
97	98	Fizz
Fizz

In [98]:
for i in range(1,101):
    print("Fizz" * (i % 3 ==0) + "Buzz" * (i % 5 ==0) or i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [127]:
name_list = ['matthew','mark','luke','john','paul','peter']

count = 0

for i in range(len(name_list)):
    if 'm' in name_list[i] or 'h' in name_list[i]:
        count+=1
print(f' m 또는 h가 이름에 포함된 사람은 {count}명 입니다.')

 m 또는 h가 이름에 포함된 사람은 3명 입니다.

In [170]:
marks = [90,25,67,45,80]

for i in range(len(marks)):
    if marks[i]>=60:
        print(i+1,"번 학생")
        
marks = [90,25,67,45,80]
number = 0

for mark in marks:
    number = number + 1
    if mark < 60 :
        continue
    print(number,"번 학생 축하합니다. 합격입니다.")

1 번 학생
3 번 학생
5 번 학생
1 번 학생 축하합니다. 합격입니다.
3 번 학생 축하합니다. 합격입니다.
5 번 학생 축하합니다. 합격입니다.

In [174]:
marks1 = [90,25,67,45,80]

i = 0

while i < len(marks1):
    if marks1[i] >=60:
        print(i+1,"번 학생")
    i +=1
    
e = 0

while e < len(marks1):
    e+=1
    if marks1[e-1]<60:
        continue
    print(e,"번 학생 축하합니다. 합격입니다.")

1 번 학생
3 번 학생
5 번 학생
1 번 학생 축하합니다. 합격입니다.
3 번 학생 축하합니다. 합격입니다.
5 번 학생 축하합니다. 합격입니다.

In [190]:
arr = [1,4,2,3]
left,right = 0, len(arr)-1

while left < (len(arr)//2):
    arr[left],arr[right], = arr[right],arr[left]
    left +=1
    right -=1
print("변환된 arr은",arr,"입니다")

변환된 arr은 [3, 2, 4, 1] 입니다

In [192]:
i=1
a=0
while i <=9:
    print(a,'*',i,'=',a*i)
    i+=1
    a+=1

0 * 1 = 0
1 * 2 = 2
2 * 3 = 6
3 * 4 = 12
4 * 5 = 20
5 * 6 = 30
6 * 7 = 42
7 * 8 = 56
8 * 9 = 72

In [205]:
for i in range(1,10):
    for j in range(2,10):
        print(j,'x',i,'=',i*j,end='\t')
    print()

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

In [206]:
i=1
j=2

while i <10:
    while j<10:
        print(j,"x",i,"=",j*i,sep="",end="\t")
        j=1
    i+=1
    j=2
    print()

SyntaxError: cannot assign to operator (2733983668.py, line 7)

##### 딕셔너리 자료형(Dictionary type)
- 딕셔너리 자료형(Dictionary type) 은 비 시퀀스 잘형
- 인덱스를 가지 않습니다.
- 대신 이 자료형은 교유한 키(key)값을 갖습니다.
- 이 키(key)는 1대 1로 매칭되는 값(value)를 갖습니다.
- 이를 key-value pair라고 하며 딕셔너리 자료형의 특징

key : value -> key-value pair

- **중괄호({})를 활용하여 딕셔너리 자료형을 생성할 수 있습니다.
- 중괄호 안에는 key-value pair를 작성하며 형태는 key:value와 같다.
- key-value pair는 각각 콤마로 구분지어 요소로 등록
- 딕셔너리 자료형에서 키(key)는 중복해서 존재하지 않습니다.
- 중복해서 넣게되면 가장 최근에 넣은 key-value pair만 남습니다.


##### 딕셔너리 자료형 특징
1. 키(key)
2. 문자열(str)
3. 정수(int)
4. 실수(float)
5. 불(bool)
6. 튜플(tuple) 
- 키에 이 자료형을 섞어서 사용 가능
- 단! 키에는 리스트(list),딕셔너리(dictionary),집합(set)을 사용 할 수 없습니다.
- 키(key)는 고유한 값을 가져야 합니다,, (인덱스에 겹치는 숫자가 없듯이)
- 딕셔너리 자료형에서 값(value)는 모든 자료형을 사용할 수 있다.
- 비어있는 빈 딕셔너리를 만들 떄는 중괄호({})만 쓰거나 인자 없이 dict()활용
##### dict() 함수로 생성
- dict()함수에 키워드 인자값을 활용하면 딕셔너리를 만들 수 있다.
- 함수에 사용하는 키워드 인자의 키워드 부분은 변수명처럼 따옴표('',"")를 사용하지 않음
- 키와 값 한 쌍을 갖는 시퀀스 객체를 요소로 갖는 시퀀스 객체를 생성하여 딕셔너리 자료형을 만들 수 있음

##### dict()함수와 zip()함수로 생성
- zip()함수를 통하여 키와 값 한 쌍을 갖는 튜플을 요소로 갖는 객체로 딕셔너리 자료형 생성

##### 키로 값에 접근하기
- 인덱성과 동일
- 다만 인덱싱은 0이상의 정수를 활용하여 각 요소에 접근
- 딕셔너리 자료형은 키를 활용하여 해당 값에 접근

##### 키로 값 변경하기
- 키를 통해 접근한 요소에 값을 할당하면 해당 값을 변경할 수 있음.

##### 키와 값 추가하기
- 딕셔너리 자료형에 없는 키를 활용하여 값을 할당하면 딕셔너리 자료형에 새로운 키와 값의 쌍이 추가

##### 특정 키가 딕셔너리 자료형에 있나 확인
- 딕셔너리 자료형에서 특정 키가 존재하는 지 확인할 때 in 연산자를 활용할 수 있음

##### 특정 키와 값의 쌍을 삭제
- 딕셔너리 자료형에서 del 키워드를 활용하여 특정 키와 값의 쌍을 삭제

##### 키와 값의 쌍 개수 구하기
- 키와 값은 1대1로 한 쌍을 이룸
- len() 함수를 통해 딕셔너리 자료형의 크기를 구하면 그건 키의 크기(개수) 이기도 하고 값의 크기 (개수)이기도 하다.

In [230]:
dic_var = {"key":"value"}
print(type(dic_var))
print(dic_var)

#dictionary_variable = {key:value,key:value,.....}

#중복x
dic_var = {"key":"value","key":"last_value"}
print(dic_var) ##가장 마지막에 넣은 key-value pair만 남음

##ex) 키에 이런 자료형을 사용 가능
dic_var = {"key":"value",
           1:"value2",
           1.1:"value3",
           True:"value4",
           ("key",1,1.1,True):"value2"}
print(list(map(type,dic_var.keys())))

##dict()함수
dict_a = dict(key="value",key2="value2",key3="value3")
print(dict_a)

##키와 값 한 쌍을 갖는 시퀀스 객체를 요소로 갖는 시퀀스 객체
dict([("key","value"),("key2","value2")])

## dict()함수와 zip()함수
dict_b = dict(zip(["key","key2","key3"],["value","value2","value3"]))
print(dict_b)

print(zip(["key","key2","key3"],["value","value2","value3"]))
[_ for _ in zip(["key","key2","key3"],["value","value2","value3"])]

# 키로 값에 접근
print(dict_b)
print(dict_b['key2'])

# 키로 값 변경
print(dict_b)
dict_b['key'] = "super value"
print(dict_b)

#키와 값 추가
print(dict_b)
dict_b['new one'] = "new value"
print(dict_b)

#특정 키가 딕셔너리 자료형에 있나 확인
print(dict_b)
print('key' in dict_b)

#특정 키와 값의 쌍을 삭제
print(dict_b)
del dict_b['new one']
print(dict_b)

#키와 값의 쌍 개수 구하기
print(dict_b)
len(dict_b)

<class 'dict'>
{'key': 'value'}
{'key': 'last_value'}
[<class 'str'>, <class 'int'>, <class 'float'>, <class 'tuple'>]
{'key': 'value', 'key2': 'value2', 'key3': 'value3'}
{'key': 'value', 'key2': 'value2', 'key3': 'value3'}
<zip object at 0x000001A3E28C4B80>
{'key': 'value', 'key2': 'value2', 'key3': 'value3'}
value2
{'key': 'value', 'key2': 'value2', 'key3': 'value3'}
{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}
{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}
{'key': 'super value', 'key2': 'value2', 'key3': 'value3', 'new one': 'new value'}
{'key': 'super value', 'key2': 'value2', 'key3': 'value3', 'new one': 'new value'}
True
{'key': 'super value', 'key2': 'value2', 'key3': 'value3', 'new one': 'new value'}
{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}
{'key': 'super value', 'key2': 'value2', 'key3': 'value3'}

3

In [265]:
dic_fruits = {"사과":1000,"바나나":700,"오렌지":1500,"파인애플":2000}

input_fruit = input("과일 이름을 입력하세요.")

print(f'{input_fruit}의 가격은 {dic_fruits[input_fruit]}원입니다.')

과일 이름을 입력하세요. 사과

사과의 가격은 1000원입니다.

In [282]:
name = list(map(str,input("이름을 기입해 주세요:").split(" ")))

weight = list(map(float,input("몸무게를 입력해주세요.").split(" ")))

dict_a = dict(zip(name,weight))
print(dict_a)

이름을 기입해 주세요: 뽀로로 루피 크롱 스누피
몸무게를 입력해주세요. 20.4 16.2 22.3 5.2

{'뽀로로': 20.4, '루피': 16.2, '크롱': 22.3, '스누피': 5.2}

In [285]:
names = input("이름을 입력하세요:").split()
weights = list(map(float,input("몸무게를 입력하세요:").split()))

dict_mm = {}
# dict_mm = dict()
# len(names) -->4
# range(4) -- 0 , 1 ,2 ,3
# i --> i = 0 반복 , i=1 반복, i=2 반복, i=3 반복
for i in range(len(names)):
    dict_mm[names[i]] = weights[i]
    
print(dict_mm)

이름을 입력하세요: 뽀로로 뤼 크롱 스누피 라이언
몸무게를 입력하세요: 20.5 16.2 22.2 5.2 22.2

{'뽀로로': 20.5, '뤼': 16.2, '크롱': 22.2, '스누피': 5.2, '라이언': 22.2}

##### 리스트 생성 방법 - 대괄호 사용
- 리스트는 기본적으로 대괄호([])를 활용
- 대괄호 안에는 리스트를

##### 빈 리스트(empty list)
- 비어있는 빈 리스트를 만들 때는 대괄호([])만 쓰거나 인자 없이 list

##### 리스트 컴프리헨션(comprehension)
- 리스트 컴플리헨션은 대괄호([]) 안에 표현식과 for 문을 작성하여 사용 할 수 있습니다.
- 처음보는 형태라 복잡해보이지만 어떻게 동작하는지 하나하나 살펴보겠습니다.
- list_variable = [expression for 변수 in inerable]

##### 리스트 컴프리헨션 동작 순서
1. 반복가능한 객체(iterable)로부터 값을 하나 꺼내와서 변수에 담습니다.
2. 요소를 담은 변수를 활용해서 표현식(expression)을 실행 (이때 변수는 활용할 수도 활용하지 않을 수도 있습니다.)
3. 표현식 결과 값을 리스트 요소에 넣습니다.
4. 반복가능한 객체(interble)로부터 값이 없을 때까지 1~3 과정을 반복합니다.

In [289]:
# range --> 0, 1, 2, ...9
# _ --> _= 0,,,9
list_a = [_ for _ in range(1,10)]
print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [291]:
[print("Hello world") for _ in range(1,10)]

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

[None, None, None, None, None, None, None, None, None]

In [294]:
list_c = []
for _ in range(10):
    list_c.append(_**2)
print(list_c)

list_t = [_**2 for _ in range(0,10)]
print(list_t)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [293]:
list_t = [_**2 for _ in range(1,10)]
print(list_t)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [296]:
prac_result = [_**2 for _ in range(1,10)]
print(type(prac_result))
print(prac_result)

# 또 다른 제곱 방식
prac_result = [_*_ for _ in range(1,10)]
print(type(prac_result))
print(prac_result)

<class 'list'>
[1, 4, 9, 16, 25, 36, 49, 64, 81]
<class 'list'>
[1, 4, 9, 16, 25, 36, 49, 64, 81]